[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
progress = "*"
pyttsx3 = "*"
build = "*"

[requires]
python_version = "3"

[scripts]
butch_kill = "python -m butch_OS.main"

[dev-packages]
flake8 = "*"
