[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
progress = "*"
pyttsx3 = "*"

[dev-packages]
flake8 = "*"

[requires]
python_version = "3.12"

[scripts]
gui = "python -m butch_OS.main"
